In [2]:
# 41
txt=open("41ex.txt") # opens the file 41ex.txt
print(f"Total of {len(txt.readlines())} names") # prints the length of lines in file
print("-" * 18)
txt.seek(0) # to replace the poiter to the starting
print(txt.read()) # prints the file
txt.close() # closes the file

Total of 7 names
------------------
Ling, Mai
Johnson, Jim
Zarnecki, Sabrina
Jones, Chris
Jones, Aaron
Swift, Geoffrey
Xiong, Fong

In [30]:
# 42
txt=open("42ex.txt") # opens the file
file=txt.readlines() # read the line

print(f"{'Last':<12} {'First':<12} {'Salary':<12}") # prints with the space of 12 
print("-" * 30) # prints - 30 times

for line in file: # looping for every lines in file
    # striping and spliting the line
    table=line.strip().split(",") 
    print(f"{table[0]:<12} {table[1]:<12}  {table[2]:<12}") # prints the elements on index 0, 1, 2 seperately by spaces

Last         First        Salary
------------------------------
Ling         Mai           55900
Johnson      Jim           56500
Jones        Aaron         46000
Jones        Chris         34500
Swift        Geoffrey      14200
Xiong        Fong          65000
Zarnecki     Sabrina       51500